{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><i class="fas fa-arrow-up"></i></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="#" style="text-decoration:none;font-size:2rem;color:#fff">AnyManga</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="{% url 'home' %}" style="text-decoration: none;">Homepage</a></li>
                        <li><a href="./categories.html" style="text-decoration: none;">Categories</a></li>
                        <li><a href="./blog.html" style="text-decoration: none;">Our Blog</a></li>
                        <li><a href="#" style="text-decoration: none;">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">

              </div>
          </div>
      </div>
  </footer>



{% block extra_scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<script>
$("#scrollToTopButton").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
     });
</script>
{% endblock %}