{% extends 'base.html' %}


{% block content %}

<style>
    body {
        background: linear-gradient(135deg, #ff4e50, #f9d423);
        min-height: 100vh;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        position: static;
    }
</style>

<h2 style="text-align: center;">Login</h2>

<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
    <form method="post" action="{% url 'login_view' %}" style="background: white; padding: 20px; border-radius: 10px;">
        {% csrf_token %}

        <label>Username:</label><br>
        <input type="text" name="username" required><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>
</div>

{% if messages %}
    {% for message in messages %}
        <p class="alert">{{ message }}</p>
    {% endfor %}
{% endif %}

<p style="text-align: center;">Don't have an account? <a href="{% url 'register'%}">Sign up</a></p>

{% endblock %}
