{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}

{% block content %}
 <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="{% static 'images/naruto_2.avif' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{% static 'images/login_page.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
 <!-- Hero Section End -->
<br>
<br>
<div class="product-title">
    <h2>MANGA</h2>
</div>
<br>
<br>
<div class="card-container">
  {% for m in manga_preview %}
    <article class="card">
      <img
        class="card__background"
        src="{{ m.picture.url }}"
        alt="{{ m.name }}"
        width="1920"
        height="2193"
      />
      <div class="card-price">৳{{m.price}}</div>
      <div class="card__content | flow">
        <div class="card__content--container | flow">
          <h2 class="card__title">{{ m.name }}</h2>
          <p class="card__description">{{ m.description|truncatewords:25 }}</p>
        </div>
        <a href="{{ m.details }}" class="card__button">Add to cart</a>
      </div>
    </article>
  {% endfor %}
</div>



<div class="product-title">
    <h2>
        Merchandise
    </h2>

</div>
<div class="container page-wrapper">
  <div class="page-inner">
    <div class="row">
      {% for merch in merch_preview %}
      <div class="el-wrapper">
        <div class="box-up">
          <img class="img" src="{{ merch.picture.url }}" alt="{{ merch.name }}">
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name">{{ merch.name }}</span>
              <span class="p-company">{{ merch.category }}</span>
            </div>
<!--            <div class="a-size">-->
<!--              Available sizes : <span class="size">{{ merch.sizes }}</span>-->
<!--            </div>-->
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="{{ merch.details_url }}">
            <span class="price">৳{{ merch.price }}</span>
            <span class="add-to-cart">
              <span class="txt">Add to cart</span>
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>




{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<script>
  $(document).ready(function(){
    $(".set-bg").each(function () {
      var bg = $(this).data("setbg");
      $(this).css("background-image", "url(" + bg + ")");
    });

    $(".hero__slider").owlCarousel({
      items: 1,
      loop: true,
      autoplay: true,
      nav: true,
      navText: ["<", ">"]
    });
  });
</script>
{% endblock %}