{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
 <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="{% static 'images/naruto_2.avif' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
 <!-- Hero Section End -->
<br>
<br>
<div class="product-title">
    <h2>MANGA</h2>
</div>
<br>
<br>
<div class="manga_container">
    {% for m in manga_preview %}
    <div class="manga_item">
        <div class="manga_image">
            <!-- Show the manga image -->
            <img src="{{ m.picture.url }}" alt="{{ m.name }}">
        </div>
        <div class="manga_info">
            <h3>{{ m.name }}</h3>
            <p>{{ m.description }}</p>  <!-- Display manga description -->
            <a href="{{ m.details }}">See More</a>  <!-- Link to the detailed page -->
        </div>
    </div>
    {% endfor %}
</div>

<div class="product-title">
    <h2>
        Merchandise
    </h2>
</div>
<div class="manga_container">
    {% for m in merch_preview %}
    <div class="manga_item">
        <div class="manga_image">
            <!-- Show the manga image -->
            <img src="{{ m.picture.url }}" alt="{{ m.name }}">
        </div>
        <div class="manga_info">
            <h3>{{ m.name }}</h3>
            <p>{{ m.description }}</p>  <!-- Display manga description -->
            <a href="{{ m.details }}">See More</a>  <!-- Link to the detailed page -->
        </div>
    </div>
</div>
    {% endfor %}




{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<script>
  $(document).ready(function(){
    $(".set-bg").each(function () {
      var bg = $(this).data("setbg");
      $(this).css("background-image", "url(" + bg + ")");
    });

    $(".hero__slider").owlCarousel({
      items: 1,
      loop: true,
      autoplay: true,
      nav: true,
      navText: ["<", ">"]
    });
  });
</script>
{% endblock %}