{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/manga.css' %}">
{% endblock %}
{% block content %}

<div class="product-title">
    <h2 style="color:#fff">MANGA</h2>
</div>

<div class="card-container">
  {% for m in manga_preview %}
    <article class="card">
        <a href="{% url 'manga_view' m.id %}">
            <img
        class="card__background"
        src="{{ m.picture.url }}"
        alt="{{ m.name }}"
        width="1920"
        height="2193"
      />
        </a>

      <div class="card-price">৳{{m.price}}</div>
      <div class="card__content | flow">
        <div class="card__content--container | flow">
          <h2 class="card__title" style="font-size: 1.5rem; color:##e1f2f2;background-color: rgba(43, 15, 15, .7)">{{ m.name }}</h2>
          <p class="card__description">{{ m.description|truncatewords:25 }}</p>
        </div>
        <a href="{% url 'add_to_cart' 'manga' m.id %}" class="card__button">Add to cart</a>
      </div>
    </article>
  {% endfor %}
</div>
<br>
<br>

{% endblock %}

{% block extra_scripts %}

<script>
  $(document).ready(function(){
    $(".set-bg").each(function () {
      var bg = $(this).data("setbg");
      $(this).css("background-image", "url(" + bg + ")");
    });

    $(".hero__slider").owlCarousel({
      items: 1,
      loop: true,
      autoplay: true,
      nav: true,
      navText: ["<", ">"]
    });
  });
</script>
{% endblock %}