
   .profile-header {
      background-color: #f8f9fa;
      padding: 20px;
      margin-bottom: 30px;
      border-radius: 5px;
    }

    .order-history {
      margin-top: 40px;
    }

    .order-card {
      border: 1px solid #ddd;
      margin-bottom: 15px;
      padding: 15px;
      border-radius: 5px;
    }

    .order-card .order-id {
      font-weight: bold;
    }

    .order-card .order-date {
      font-size: 0.9em;
      color: gray;
    }

    .order-card .order-status {
      font-weight: bold;
      color: green;
    }

body{
  background: #700000;
  background: linear-gradient(90deg, rgba(112, 0, 0, 1) 0%, rgba(153, 0, 0, 1) 50%, rgba(112, 0, 0, 1) 100%);


}